@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif !important;
}
body h1 {
  font-size: 72px;
}
body h2 {
  font-size: 48px;
}
body h3 {
  font-size: 32px;;
}
body p {
  font-size: 21px;
}
.navbar {
  transition: top 0.3s;
  z-index: 1020;
}
.text-wrapper {
  padding-top: 150px;
}
.image img {
  height: 500px;
}
.about {
  background-color: #eee;
  height: auto;
}
.about-text p {
  padding-top: 25%;
}
.project {
  height: auto;
  min-height: 600px;
}
.error {
  padding-top: 20%;
}
.title {
  padding-top: 100px;
  padding-bottom: 50px;
}
.form-group {
  padding-bottom: 30px;;
}
.contact-me {
  height: auto;
  min-height: 600px;
  background-color: #eee;
}
@media (max-width: 576px) {
  .about-text p {
    padding-top: 0;
  }
}

